In [1]:
import pandas as pd
import numpy as np 
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [2]:
df=pd.read_csv('BuyerRatio.csv')

In [3]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
# H0 = There is no difference in male-female Buyer ratio
# H1 = There is a difference in male-female Buyer ratio

In [4]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])

In [5]:
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [6]:
chi2_contingency(obs)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#here pvalue is greater than Î±=0.05.so, accept H0
#so, There is no difference in male-female Buyer ratio.